@media(max-width: 600px){
    .main{
        align-items: flex-start;
    }
    .main .section{
        flex-direction: column;
        width: 345px;
        margin: 20px;
    }

    .main .section .perfume-image img{
        border-radius: 12px 12px 0  0;
    }
}