.main{
    background-color: var(--primary-cream);
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .section{
    display: flex;
    height: 450px;
    width: 600px;
    border-radius: 12px;
    background-color: #ffffff;
}

.main .section .perfume-image img{
    border-radius: 12px 0 0  12px;
}

.main .section .info{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 12px 12px 0;
}

.main .section .info .perfume{
    font-family: "Montserrat", serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: var(--neutral-dark);
    margin: 10px 0 25px;
}

.main .section .info .perfume-name{
    font-family: "Fraunces", serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    color: var(--neutral-very-dark);
    margin-bottom: 25px;
}

.main .section .info .text{
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: var(--neutral-dark);
    margin-bottom: 25px;
}

.main .section .info .price{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.main .section .info .price .rebate{
    font-family: "Fraunces", serif;
    font-size: 34px;
    color: var(--primary-dark);
    margin-right: 26px;
}

.main .section .info .old-price{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--neutral-dark);
}

.main .section .info .btn{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    background-color: var(--primary-dark);
    border-radius: 8px;
}

.main .section .info .btn::before{
    content: '';
    background-image: url(../images/icon-cart.svg);
    height: 16px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
}

.main .section .info .btn:hover{
    background-color: var(--neutral-very-dark);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


